@font-face {
  font-family: "hFont";
  src: url("assets/font/h.font.ttf") format("truetype");
}

body {
  font-family: "hFont", sans-serif;
  margin: 0;
  padding: 0 10%; 
  background: #fff;
  color: #000;
  letter-spacing: 0.3px;
  box-sizing: border-box;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  border-bottom: 0.8px solid #000;
  background: #fff;
}

.logo {
  font-size: 1.8em;
  margin: 0;
  font-weight: 500;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}

.nav a:hover,
.nav a.active {
  color: #e6d738;
}

main {
  padding: 60px 0;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 20px 0 20px 0;
  line-height: 1.4;
}

h3 {
  border: 0.8px solid #999;
  border-radius: 8px;
  padding: 6px 14px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin: 10px 10px 0 0;
}

.filter-bar {
  margin: 30px 0 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-btn {
  border: 0.8px solid #000;
  background: transparent;
  color: #000;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.25s ease;
}

.filter-btn.active,
.filter-btn:hover {
  background: #000;
  color: #fff;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 250px)); 
  gap: 60px;
  justify-content: start; 
}

.work-item {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  padding: 10px 10px 0px 10px;
  font-size: 14px;
  text-align: center;
}

.work-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.work-item h4 {
  margin: 16px 16px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.work-item:hover {
  background: #fafafa;
  transform: translateY(-5px);
}


#about, #resume {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
}

#about p, #resume p {
  font-size: 15px;
  color: #333;
}

footer {
  text-align: center;
  font-size: 13px;
  color: #333;
  padding-top: 20px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  body {
    padding: 0 24px;
  }
  header {
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }
  .nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}


.grid-layout1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.grid-layout1 img {
    width: 80%;
    height: auto;
    display: block;
}

.button-container {
    margin: 30px 0;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 0;
    margin: 30px 0;
}

#canvas-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}